# Database
DB_URL=jdbc:postgresql://localhost:5432/your_database
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# Frontend URL
FE_URL=http://localhost:5173

# JWT Access Token
JWT_ACCESS_SECRET=your_access_secret (HS256)
JWT_ACCESS_EXPIRATION=15

# JWT Refresh Token
JWT_REFRESH_SECRET=your_refresh_secret (HS256)
JWT_REFRESH_EXPIRATION=7
